{% load static %}


<div class="flex-nowrap d-flex flex-column navbar-vertical side-nav-layout">
   <div class="p-2 mt-3">
      <i class="fas fa-times p-3 text-white opacity-5 end-0 top-0 d-none d-xl-none" aria-hidden="true"></i>
      <a href="{% url 'home' %}">
         <figure>
            <img class="logo-menu" src="{% static 'assets/img/logo.png' %}" alt="main_logo">
         </figure>
      </a>
   </div>
   <div class="ms-3 mt-4">
      <ul class="navbar-nav">
         {% if perms.event.view_event %}
            <li class="nav-item">
               <a 
                  class="nav-link text-white collapsed" 
                  data-bs-toggle="collapse" 
                  href="#collapseEvents"
                  role="button"
                  aria-expanded="false" 
                  aria-controls="collapseEvents"
                  >
                  <i class="fa-regular fa-list-alt fa-2xl" style="color: #9c142b;"></i>
                  <span class="nav-link-text ms-1 font-menu">
                     Gestão de Eventos
                  </span>
               </a>
            </li>
            <div 
               class="collapse" 
               id="collapseEvents"
               style="margin-left: 1rem;"
            >
               <li 
                  class="nav-item btn" 
                  onclick="window.location.href='{% url "events" %}'">
                  <a class="nav-link text-white">
                     <i class="fa-regular fa-calendar-days" style="color: #9c142b;"></i>
                     <span class="nav-link-text ms-1 font-menu">
                        Inscrições
                     </span>
                  </a>
               </li>
               <li 
                  class="nav-item mt-3 btn" 
                  onclick="window.location.href='{% url "register_event" %}'"
               >
                  <a class="nav-link text-white">
                     <i class="fa-regular fa-plus" style="color: #9c142b;"></i>
                     <span class="nav-link-text ms-1 font-menu">
                        Adicionar Evento
                     </span>
                  </a>
               </li>
            </div>
         {% endif %}
 
         {% if perms.conductor.view_conductor %}
            <li 
               class="nav-item mt-3" 
               onclick="window.location.href='{% url "register_conductor" %}'"
            >
               <a class="nav-link text-white" href="{% url 'register_conductor' %}">
                  <i class="fa-regular fa-plus fa-2xl" style="color: #9c142b;"></i>
                  <span class="nav-link-text ms-3 font-menu text-center">
                     Adicionar Condutor
                  </span>
               </a>
            </li>
         {% endif %}
      </ul>
   </div>
   <!-- user -->
   <div class="ms-3 user-nav">
      <div class="dropdown open">
         <button class="btn border-none dropdown-toggle text-white" type="button" id="triggerId" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa-regular fa-user fa-2xl" style="color: #9c142b;"></i>
            <span class="ms-3 d-none font-menu d-sm-inline">
               {{ user.get_username }}
            </span>
         </button>
         <div class="dropdown-menu" aria-labelledby="triggerId">
            <form name="logoutform" action="{% url 'logout' %}" method="POST">
               {% csrf_token %}
               <button class="dropdown-item" type="submit">Sair</button>
            </form>
         </div>
      </div>
   </div>
</div>