:root {
    --side-nav-color: #000000c9;
}

.align-card {
    margin-top: 2rem;
}

.title {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
}

.logo-menu {
    width: 100%;
    height: 6rem;
}

.font-menu {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
}

.font-home {
    margin-top: 10rem;
    font-size: 5rem;
    font-weight: 900;
    color: #000;
    text-align: center;
}

.messages {
    position: fixed;
    margin-left: 44rem;
    margin-top: 1rem;
}

.img-md {
    width: 20%;
}

.img-card {
    height: 14rem;
}

.side-nav-layout {
    background-color: var(--side-nav-color);
    min-height: 100vh;
    min-width: 20vw;
}

.user-nav {
    position: fixed;
    bottom: 3rem;
    text-align: center;
}

.container-custom {
    margin-top: 2rem;
}

@media screen and (min-width: 2000px) {
    .logo-menu {
        height: 8rem;
    }

    .font-menu {
        font-size: 2.25rem;
    }
}

@media screen and (max-width: 1440px) {
    .font-menu {
        font-size: 1rem;
    }
}