{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row justify-content-evenly" style="margin-top: 0.5rem;">
        {% for event in events %}
        <div class="col-6 card mx-4" style="width: 22rem; height: 25rem;">
            <img src="{{ event.image.url }}" class="card-img-top img-card" alt="logo do evento">
            <div class="card-body">
                <h5 class="card-title">{{ event.name }}</h5>
                <p class="card-text">{{ event.description }}</p>
                <div class="text-center">
                    <a href="#" class="btn btn-dark">Ver mais</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content %}