{% extends 'event/base-auth.html'%}
{% load static %}

{% block content %}
<section class="h-100 align-card">
    <figure class="text-center">
        <img src="{% static 'assets/img/logo.png' %}" alt="logo do site">
    </figure>
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <form action="{% url 'register' %}" method="POST" class="needs-validation" novalidate=""
                            autocomplete="off">
                            {% csrf_token %}
                            {% include 'partials/_messages.html'%}
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="name"><b>Nome:</b></label>
                                <input type="text" class="form-control" name="name" 
                                    value="" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="email"><b>Email:</b></label>
                                <input type="email" class="form-control" name="email" 
                                    value="" required autofocus>
                            </div>
                            <div class="mb-3">
                                <label class="mb-2 text-muted" for="username"><b>Usuário:</b></label>
                                <input type="text" class="form-control" name="username" 
                                    value="" required autofocus>
                            </div>
                            <div class="mb-1">
                                <div class="mb-2 w-100">
                                    <label class="text-muted" for="password"><b>Senha:</b></label>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="password" class="form-control" required>
                                </div>
                            </div>
                            <div class="mb-1">
                                <div class="mb-2 w-100">
                                    <label class="text-muted" for="confirm_password"><b>Confirmar Senha:</b></label>
                                </div>
                                <div class="input-group">
                                    <input type="text" name="confirm_password" class="form-control" required>
                                </div>
                            </div>
                            <div>
                                <input type="checkbox" name="organizer" id="organizer">
                                <label for="organizer">Organizador</label>
                            </div>
                            <div class="row mt-4">
                                <div class="d-grid gap-2 col-5 mx-auto">
                                    <a href="{% url 'login' %}" class="btn btn-danger"> Voltar</a>
                                </div>
                                <div class="d-grid gap-2 col-5 mx-auto">
                                    <button type="submit" class="btn btn-dark">
                                        Cadastrar
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
        
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
